*{
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background-color: bisque;
    margin: 30px;
    padding: 10px;
    border: 4px;
}
main{
    display: flex;
    flex-direction: column;
}
article{
    
    width: 100%;
    
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: antiquewhite;
}

/*-----MENU-------*/

nav{
    width: 100%;
    background-color: rgb(190, 156, 117);
    border: 2px solid rgb(190, 156, 117);
    border-radius: 10px;
}
nav ul {
    display: flex;
    justify-content: center;
}
nav ul li {
    list-style: none;
    float: left ;
    display: flex;
    align-items: center;
} 

nav ul li a {
    background-color: rgb(197, 114, 103);
    text-decoration: none;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    color: black;
}
nav ul li a:hover {
    background-color: rgb(111, 177, 144);
    color: white;
    font-weight: 900;
    font-size: 20px;
}
