{% extends 'base.html' %}
{% block Titulo %}
    Formulario
{% endblock %}

{% block heather %}
    Fromulario de Registro
{% endblock %}
{% block contenido %}
    <div>
    <h4>Registro de usuarios</h4>
    <form method="POST" action="/formulario">
        <label>Nombre:</label>
        <input type="text" name="cNombre" />
        <br>
        <label>Apellido Paterno:</label>
        <input type="text" name="cApellp" />
        <br>
        <label>Apellido Materno:</label>
        <input type="text" name="cApellm" />
        <br>
        <label>Email:</label>
        <input type="email" name="cEmail" />
        <br>
        <label>Contraseña</label>
        <input type="text" name="cContrasena"/>
        <br>
        <label>Edad</label>
        <input type="text" name="cEdad"/>
        <br>
        <input type="checkbox" name="cTyc" value="ok">
        <label for="cTyc">Acepto los términos y condiciones</label>
        <br>
        <button type="submit">Enviar</button>
    </form>
    </div>
{% endblock %}                                                                                                                                                                                                                                                                                                                                                      